@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 140 8% 15%;
    --card: 140 13% 95%;
    --card-foreground: 140 8% 15%;
    --primary: 136 85% 40%;
    --primary-foreground: 135 11% 7%;
    --secondary: 137 15% 91%;
    --secondary-foreground: 140 8% 15%;
    --muted: 137 15% 91%;
    --muted-foreground: 140 3% 45%;
    --accent: 137 15% 91%;
    --accent-foreground: 140 8% 15%;
    --border: 133 7% 73%;
    --input: 133 7% 73%;
    --ring: 136 85% 40%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

